<%= simple_form_for(@gym, html: { class: 'form-horizontal'}) do |f| %>
  <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Choose a city" }, input_html: { class: "dropdown-toggle" } %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :latitude, label: "Latitude" %>
  <%= f.input :longitude, label: "Longitude" %>
  <%= f.input :address, label: "Address" %>
  <br/>
  <%= f.button :submit %>
<% end %>
