Gym Name: <%= @gym.name %> <br>
Latitude: <%= @gym.latitude %> <br>
Longitude: <%= @gym.longitude %> <br>
Address: <%= @gym.address %> <br>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_gym_path(@gym) %>
<%= link_to "Delete", gym_path(@gym), method: :delete, data: { confirm: "Are you sure?" } %>