<!DOCTYPE html>
<html>
<head>
  <title>BygDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li>
    <%= link_to "All Gyms", root_path %>
  </li>
  <% City.all.each do |city| %>
    <li>
      <%= link_to city.name, gyms_path(city: city.name) %>
    </li>
  <% end %>
</ul>
<%= link_to "New Gym", new_gym_path %>
<br><br>

<%= yield %>

</body>
</html>
